<h1>All Pets in <%= @shelter.name %></h1>
<a href="/shelters/<%= @shelter.id %>/pets/new">Create Pet</a>
<% @pets.each do |pet| %>
  <img src=<%= pet.image %> alt=<%= pet.name %> width="200" height="200"></img>
  <h3><%= pet.name %></h3>
  <p>Description: <%= pet.description %></p>
  <p>Age: <%= pet.age %> old</p>
  <p>Sex: <%= pet.sex %></p>
  <p>Adoption status: <%= "adoptable" if pet.adoptable %></p>
<% end %>
<br>
