<form action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <h2>Update Pet</h2>
  <p>Image:</p>
  <input type='text' name='pet[image]' value="<%= @pet.image %>"/><br/>
  <p>Name:</p>
  <input type='text' name='pet[name]' value="<%= @pet.name %>"/><br/>
  <p>Description:</p>
  <input type='text' name='pet[description]' value="<%= @pet.description %>"/><br/>
  <p>Age:</p>
  <input type='text' name='pet[age]' value="<%= @pet.age %>"/><br/>
  <p>Sex:</p>
  <input type='text' name='pet[sex]' value="<%= @pet.sex %>"/><br/>
  <input type='submit' name='update_pet'/>
</form>
